<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Silly Song.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F8E7CB121E8360D500F1E258</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F8E7CB261E8360D600F1E258</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F8E7CB311E8360D600F1E258</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
